/* report_teacher_payroll.css */

.page {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
}

h2 {
    color: #4A4A4A;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

td {
    color: #333;
}

.teacher_name, .teacher_id, .total_hours, .total_salary {
    width: 25%;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

strong {
    color: #555;
}
